---
import BaseLayout from "../../layouts/BaseLayout.astro"

const postsRes = await fetch(`https://windfisher.herokuapp.com/api/posts`);
const posts = await postsRes.json();
---

<BaseLayout title="test page" >
<h1 class='text-lg'>Liste des pages</h1>
<!-- {JSON.stringify(posts.data)} -->
<ul>
{
  posts.data.map(post=>
    <li><a href={`/posts/${post.attributes.slug}`}>{post.attributes.title}</a></li>
  )
}
</ul>
</BaseLayout>