@tailwind base;
@tailwind components;
@tailwind utilities;

/* readex-pro-300 - latin */
@layer base {
  @font-face {
    font-family: "Readex Pro";
    font-style: normal;
    font-display: swap;
    font-weight: 300;
    src: url("../fonts/readex-pro-v8-latin-300.eot"); /* IE9 Compat Modes */
    src: local(""),
      url("../fonts/readex-pro-v8-latin-300.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-IE8 */ url("../fonts/readex-pro-v8-latin-300.woff2")
        format("woff2"),
      /* Super Modern Browsers */ url("../fonts/readex-pro-v8-latin-300.woff")
        format("woff"),
      /* Modern Browsers */ url("../fonts/readex-pro-v8-latin-300.ttf")
        format("truetype"),
      /* Safari, Android, iOS */
        url("../fonts/readex-pro-v8-latin-300.svg#ReadexPro") format("svg"); /* Legacy iOS */
  }
  /* readex-pro-600 - latin */
  @font-face {
    font-family: "Readex Pro";
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    src: url("../fonts/readex-pro-v8-latin-600.eot"); /* IE9 Compat Modes */
    src: local(""),
      url("../fonts/readex-pro-v8-latin-600.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-IE8 */ url("../fonts/readex-pro-v8-latin-600.woff2")
        format("woff2"),
      /* Super Modern Browsers */ url("../fonts/readex-pro-v8-latin-600.woff")
        format("woff"),
      /* Modern Browsers */ url("../fonts/readex-pro-v8-latin-600.ttf")
        format("truetype"),
      /* Safari, Android, iOS */
        url("../fonts/readex-pro-v8-latin-600.svg#ReadexPro") format("svg"); /* Legacy iOS */
  }
}

blockquote {
  font-weight: 100;
  font-size: 1.4rem;
  max-width: 80%;
  line-height: 1.4;
  position: relative;
  margin: 0;
  padding: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
  margin-top: 1em;
}

blockquote:before,
blockquote:after {
  position: absolute;
  color: #f1efe6;
  font-size: 8rem;
  width: 3rem;
  height: 3rem;
}

blockquote:before {
  content: "“";
  left: -3rem;
  top: -2rem;
}

blockquote:after {
  content: "”";
  right: -3rem;
  bottom: 1.5rem;
}

cite {
  line-height: 3;
  text-align: left;
}

.person {
  margin-bottom: 2em;

  img {
    border: 2px solid #292355;
    border-radius: 50%;
  }
  @media screen and (min-width: 700px) {
    display: flex;

    .person-image {
      flex: 1;
    }

    .person-description {
      flex: 2;
    }

    :nth-child(1) {
      margin-right: 1em;
    }

    &.person-right {
      flex-direction: row-reverse;
      .person-description {
        margin-right: 2em;
      }
    }
  }
}

.slide-enter {
  opacity: 0;
  transform: translateX(-100px);
}

.slide-leave-to {
  opacity: 0;
  transform: translateX(100px);
}

.slide-enter-active,
.slide-leave-active {
  transition: all 0.5s ease-out;
}
