---
const {title}=Astro.props
---

<style>
main{
    font-family: 'Readex Pro', sans-serif;
}
</style>

<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;600&display=swap" rel="stylesheet">
    
    <style global>
			@import "../assets/styles/global.css";
	</style>

</head>
<body>
	<main>
        <slot />
	</main>
</body>
</html>